
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Permit and Transit Details</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    td {
      width: 50%;
      border: 1px solid #000;
      vertical-align: top;
      padding: 10px;
    }
    h1 {
      font-size: 1.5em;
      margin-bottom: 10px;
    }
    .row {
      margin-top: 20px;
    }
    embed {
      margin-top: 30px;
      border: 1px solid #000;
    }
  </style>
</head>
<body>
  <table>
    <tbody>
      <tr>
        <td>
          <h1>PERMIT DETAILS</h1>
          Permit#: <%= data.permit_number %><br>
          Module: <%= data.module %><br>
          Validity: <%= data.validity_from.toLocaleDateString() %> - <%= data.validity_till.toLocaleDateString() %><br>
          Item(s): <%= data.items %><br>
          Qty(s): <%= data.quantity %><br>
          Value: <%= data.value %><br>
          MMCA Name: <%= data.mmca_name %><br>
          Name: <%= data.name %><br>
          Mobile: <%= data.mobile %><br>
          Division: <%= data.division %><br>
          Range/Beat: <%= data.range %><br>
          Kist#: <%= data.kist %>
        </td>
        <td>
          <h1>TRANSIT DETAILS</h1>
          eTP No: <%= data.etp_number %><br>
          Module: <%= data.transit_module %><br>
          Item: <%= data.transit_item %><br>
          Qty: <%= data.transit_quantity %><br>
          Mahal: <%= data.mahal %><br>
          Dest: <%= data.destination %><br>
          Valid From: <%= data.valid_from_date.toLocaleDateString() %> at <%= data.valid_from_time %><br>
          Valid To: <%= data.valid_to_date.toLocaleDateString() %> at <%= data.valid_to_time %><br>
          Veh#: <%= data.vehicle_number %><br>
          Driver Info: <%= data.driver_info %><br>
          Division: <%= data.transit_division %><br>
          Range/Beat: <%= data.transit_range %><br>
          Permit#: <%= data.transit_permit_number %>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <p id="verifymsg" style="font-weight: bolder; text-align: center;">
      <q class="text-success">"This e-TP was used and verified by <%= data.transit_division %> Division on "</q>
    </p>
  </div>

  <div class="form-group" id="etp_verify_details">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-md-2">
          <b>Transit Status:</b>
        </div>
        <div class="col-md-4">
          <span id="transit_status" class="bg-success"><%= data.status %></span>
        </div>
        <div class="col-md-2">
          <b>Verified By:</b>
        </div>
        <div class="col-md-4">
          <span id="verified_by"><%= data.verified_by %> - Role: <%= data.role %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <b>Verified Date:</b>
        </div>
        <div class="col-md-4">
          <span id="verified_date"><%= data.verified_date %></span>
        </div>
        <div class="col-md-2">
          <b>Reason:</b>
        </div>
        <div class="col-md-4">
          <span id="verified_reason"><%= data.verified_reason %></span>
        </div>
      </div>
    </div>
  </div>

  <!-- PDF Preview -->
  <div class="row">
    <h2></h2>
    <embed src="/pdf/<%= data._id %>" type="application/pdf" width="100%" height="600px" />
  </div>
</body>
</html>
